.content__primary {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.content__primary>span {
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
}

.content__primary ul li span {
    font-size: 16px;
    margin-left: 0;
}

.content__primary ul li p {
    display: inline;
}

.content__primary ul li {
    margin-bottom: 10px;
}

.content__primary p {
    font-size: 14px;
    line-height: 1.7;
    font-weight: 100;
}

.livefootball {
    color: #ff6b00;
}
